* {
  box-sizing: border-box;
}

.post {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 700px;
  color: white;
  padding: 5px;
  border: solid 1px rgb(77, 77, 77);

}

.author-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.chevron {
  width: 20px;
}

.author-info-block {
  display: flex;
  align-items: center;
}

.post-info img {
  width: 15px;
  margin-right: 5px;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.author-photo {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.post-info {
  display: flex;
  flex-wrap: wrap;
}

.post-info img {
  margin-right: 10px;
}


.post-img-block {
  margin-left: 50px;
}

.post-img {
  width: 100%;
  border-radius: 20px;
}

.icons-block {
  display: flex;
  justify-content: space-between;
}

.icons-block span {
  padding: 10px;
  color: rgb(143, 140, 140);
  font-weight: bold;
}

.icons-block div {
  width: 25%;
  display: flex;
}

.icons-block img {
  width: 20px;
}

.share img {
  width: 30px;
}

.post-date {
  color: rgb(104, 104, 104);
}

.post-date:before {
  content: "·";
  padding: 5px;
}

.author-nickname {
  color: rgb(104, 104, 104);
}

.author-name {
  font-weight: bold;
  margin-right: 5px;
}

.add-post-form {
  display: flex;
  justify-content: center;
  align-items:center
}

.add-post-form input, .add-post-form select {
  height: 30px;
}

.add-post-btn {
  height: 30px;
  
}
